@import url('')
$font-stack: "Roboto", Arial, sans-serif

$overlay: #5A29DE
$warm-overlay: #DED729
$white: #FFFFFF
$black: #000000

$primary: #42DDA1
$secondary: #5A29DE
$highlight: #DED729

$header-dark: #262626
$body-dark: #404040
$body-fade: #8E8A99
