---
layout: default
---
{% for post in site.posts offset: 1 limit: 1 %}
<header class="blog-index-header-main" style="background-image:url('{{ site.url }}{{ site.pathToBlogImgBin }}{{ post.featImg }}')">
  <div class="overlay-dark"></div>
  {% include nav.html %}
  <div class="blog-index-title">
    <h1 class="featured-blog-post-title">{{ post.title }}</h1>
    <a class="read-featured-blog-post" href="{{ post.url }}">Read</a>
  </div>
</header>
{% endfor %}
<div class="blogIndexWrapper">
  {% for post in site.posts%}
    <div class="blogPostContainer">
      <a href="{{ post.url }}" class="blogPostFeatImg" style="background-image: url('{{ site.url }}{{ site.pathToBlogImgBin }}lowRes/{{ post.featImg }}');"></a>
      <a href="" class="blogCategory">{{ post.categories }}</a>
      <a href="{{ post.url }}" class="blogTitle">{{ post.title }}</a>
      <p class="blogExcerpt">{{ post.excerpt }}</p>
    </div>
  {% endfor %}
</div>
<hr>
