header.header-home
  position: relative
  z-index: 1
  width: 100%
  height: 500px
  background:
    image: url('{{ site.baseurl }}/assets/img/home-hero.jpg')
    size: cover
    position: center center
    repeat: no-repeat
