header.header-main
  position: relative
  z-index: 1
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  width: 100%
  height: 500px
  background:
    size: cover
    position: center center
    repeat: no-repeat
  .home-title
    position: relative
    z-index: 5
    text-align: center
    padding-top: 50px
    h1
      font-size: 3.125em
      font-weight: 500
      line-height: 1.2em
      padding-bottom: 5px
    h3
      font-size: 1.250em
      font-weight: 400
      line-height: 1.2em
  .overlay-light
    position: absolute
    z-index: 2
    top: 0
    right: 0
    bottom: 0
    left: 0
    background: $white
    opacity: .8
  a.home-avatar
    position: absolute
    z-index: 5
    bottom: 0
    left: 0
    right: 0
    margin: auto
    width: 100px
    height: 100px
    border-radius: 100%
    margin-bottom: -60px
    background:
      image: url('../img/zacharynewton/avatar.jpg')
      size: cover
      position: center center
      repeat: no-repeat
.who-is-he
  max-width: 600px
  margin: 160px auto 100px auto
  padding: 0 20px
  h2
    padding-bottom: 17px
  p
    a
      font-weight: 600
      color: $highlight
      transition: all 0.15s ease-in-out
      &:hover
        color: $secondary
//Recent Project
h2.recent-projects
  text-align: center
  padding-top: 100px

.recent-projects-content-wrap
  margin: auto
  max-width: 800px
  padding: 60px 20px 0 20px
  display: flex
  flex-direction: column
  align-items: center
  .project-wrap
    width: 100%
    display: flex
    justify-content: flex-start
    .project
      max-width: 465px
      min-height: 100px
      margin: 20px 0
      display: flex
      flex-direction: row
      justify-content: space-around
      .project-img
        background: $primary
        height: 100px
        width: 100px
        flex: 0 0 100px
      .project-text
        height: 100%
        width: 100%
        padding-left: 15px
        display: flex
        flex-direction: column
        justify-content: center
        h6
          display: block
          margin: 0
          padding: 0
          line-height: 1.2272727273em
        p
          line-height: 1.1875em
  .project-wrap-reverse
    justify-content: flex-end
    .project
      flex-direction: row-reverse
      .project-text
        text-align: right
        padding-right: 15px
        padding-left: 0
  @media screen and(max-width: 465px)
    .project-wrap
      .project
        flex-direction: column
        .project-text
          padding: 6px 0 0 0
    .project-wrap-reverse
      .project
        align-items: flex-end
        flex-direction: column
        .project-img
          float: right
        .project-text
          padding: 6px 0 0 0
