.blogPostContentWrapper
  width: 100%
  max-width: 800px
  margin: auto
  padding: 100px 20px 0 20px
  p
    font-family: $font-stack-two
    font-weight: 300
    color: $primary
    line-height: 2em
    margin: 2em 0
  p.dropCap::first-letter
    font-size: 3.5em
    font-weight: 400
    font-family: $font-stack
    color: $highlight
  p.centeredDesc
    text-align: center
  p.noMargin
    margin: 0
  img
    width: 100%
    height: auto
    //padding: 2em 0
    overflow: hidden
    border-radius: 3px
