.blogPostContentWrapper
  width: 100%
  max-width: 800px
  margin: auto
  padding: 100px 20px 0 20px
  p
    font-family: $font-stack-two
    color: $primary
    line-height: 2em
  p.dropCap::first-letter
    font-size: 3.5em
    font-weight: 400
    font-family: $font-stack
    color: $highlight
