footer.footer-wrapper
  width: 100%
  padding: 100px 0
  display: flex
  flex-direction: column
  align-items: center
  .newsletter-slug
    margin: auto
    max-width: 285px
    text-align: center
    h2
      padding-bottom: 5px
    p
      line-height: 1.375em
  .mailchimp-form-wrap
    width: 100%
    max-width: 600px
    form
      display: flex
      flex-direction: row
    label
      display: none
