<footer class="footer-wrapper">
  <div class="newsletter-slug">
    <h2>Newsletter</h2>
    <p>Stay connected and get updates on projects I am working on</p>
  </div>
  {% include newsletter-form.html %}
  <div class="footer-social-links">
    <a href="{{ site.facebook_path }}" target="_blank" class="footer-facebook-wrapper"></a>
    <a href="{{ site.twitter_path }}" target="_blank" class="footer-twitter-wrapper"></a>
    <a href="{{ site.instagram_path }}" target="_blank" class="footer-instagram-wrapper"></a>
  </div>
</footer>
