<meta charset="utf-8">
<meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="{{ site.description }}">
<title>{{ site.title }}</title>
<link rel="canonical" href="{{ site.url }}{{ page.url }}" />
<script type="text/javascript">
    var host = "zacharyrnewton.com";
    if ((host == window.location.host) && (window.location.protocol != "https:"))
        window.location.protocol = "https";
</script>
<link rel="icon" type="image/x-icon" href="{{ site.baseurl }}/favicon.ico">
<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/styles.css">
<!--
  MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
  MMMMNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNMMMM
  MMMN                                                                                            mMMM
  MMMm                                                                                            mMMM
  MMMm               -::::::::::::::::::::::::::.               `-:` `.                           mMMM
  MMMm               dMMMMMMMMMMMMMMMMMMMMMMMMMMo    +yyyyyy .odNNM- +NNh+`                       mMMM
  MMMm               dMMMMMMMMMMMMMMMMMMMMMMMMMMo    yMMMMMMoNMMMMM- +MMMMm/                      mMMM
  MMMm               ymmmmmmmmmmmmmmmmmMMMMMMMMM+    yMMMMMMMMNhysy. +MMMMMM:                     mMMM
  MMMm               ````````````````-hMMMMMMMN+`    yMMMMMMMo.      +MMMMMMy                     mMMM
  MMMm                              /mMMMMMMMh.      yMMMMMMs        +MMMMMMd                     mMMM
  MMMm                            .yMMMMMMMm/`       yMMMMMM.        +MMMMMMd                     mMMM
  MMMm                          `+NMMMMMMMy.         yMMMMMM`        +MMMMMMd                     mMMM
  MMMm                         -hMMMMMMMm/           yMMMMMM`        +MMMMMMd                     mMMM
  MMMm                       `oNMMMMMMNs`            yMMMMMM`        +MMMMMMd                     mMMM
  MMMm                      :dMMMMMMMd:              yMMMMMM`        +MMMMMMd                     mMMM
  MMMm                    `sNMMMMMMNo`               yMMMMMM`        +MMMMMMd                     mMMM
  MMMm                   /mMMMMMMMh-                 yMMMMMM`        +MMMMMMd                     mMMM
  MMMm                 .yMMMMMMMN+`                  yMMMMMN`        +MMMMMMd                     mMMM
  MMMm               `/mMMMMMMMh.                    -::::::         .::::::-                     mMMM
  MMMm              `hMMMMMMMMy:::::::::::::::::::::::::::::::::::::::::::::::::::::              mMMM
  MMMm              -MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM`             mMMM
  MMMm              -MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM`             mMMM
  MMMm              -NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN`             mMMM
  MMMm                                                                                            mMMM
  MMMm                                                                                            mMMM
  MMMN                                                                                            mMMM
  MMMMNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNMMMM
  MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM



-->
