<!-- Navigation -->
<nav class="nav-wrap">
  <a href="{{ site.baseurl}}/" class="nav-logo {% if page.url == '/' %}nav-logo-dark{% endif %}">
    {% include logo.html %}
  </a>
  <ul class="navigation {% if page.url == '/' %}nav-dark{% endif %}">
    <li><a href="{{ site.baseurl}}/">Home</a></li>
    <li><a href="{{ site.baseurl}}/case-studies">Case Studies</a></li>
    <li><a href="{{ site.baseurl}}/blog">Blog</a></li>
  </ul>
  <!-- Mobile Navigation -->
  <div class="nav-toggle-open-wrapper {% if page.url == '/' %}toggle-dark{% endif %}">
    <?xml version="1.0" encoding="utf-8"?>
    <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="24px" height="18px" viewBox="0 0 24 18" enable-background="new 0 0 24 18" xml:space="preserve">
      <line fill="none" stroke-width="2" stroke-miterlimit="10" x1="0" y1="9" x2="24" y2="9"/>
      <line fill="none" stroke-width="2" stroke-miterlimit="10" x1="0" y1="1" x2="24" y2="1"/>
      <line fill="none" stroke-width="2" stroke-miterlimit="10" x1="0" y1="17" x2="24" y2="17"/>
    </svg>
  </div>
  <div class="nav-toggle-body-overlay"></div>
    <div class="toggled-nav-wrapper">
      <div class="nav-toggle-close-wrapper">
        <?xml version="1.0" encoding="utf-8"?>
        <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="18.385px" height="18.385px" viewBox="0 0 18.385 18.385" enable-background="new 0 0 18.385 18.385" xml:space="preserve">
          <line fill="none" stroke-width="2" stroke-miterlimit="10" x1="0.707" y1="17.678" x2="17.678" y2="0.707"/>
          <line fill="none" stroke-width="2" stroke-miterlimit="10" x1="0.707" y1="0.707" x2="17.678" y2="17.678"/>
        </svg>
      </div>
      <div class="internal-nav-links-wrapper">
        <a href="{{ site.baseurl }}/" class="internal-link-wrapper"><div class="link-titles-wrapper"><h5>Home</h5><small>Who Is Zachary?</small></div><div class="internal-link-icon internal-link-icon-home"></div></a>
        <a href="{{ site.baseurl }}/case-studies" class="internal-link-wrapper"><div class="link-titles-wrapper"><h5>Case Studies</h5><small>What Is The Process?</small></div><div class="internal-link-icon internal-link-icon-case-studies"></div></a>
        <a href="{{ site.baseurl }}/blog" class="internal-link-wrapper"><div class="link-titles-wrapper"><h5>Blog</h5><small>What Does He Think?</small></div><div class="internal-link-icon internal-link-icon-blog"></div></a>
      </div>
      <hr/>
      <div class="external-links-wrapper">
        <a href="{{ site.facebook_path}}" target="_blank" class="external-link-wrapper"><h6>Facebook</h6><div class="external-link-icon external-link-icon-facebook"></div></a>
        <a href="{{ site.twitter_path}}" target="_blank" class="external-link-wrapper"><h6>Twitter</h6><div class="external-link-icon external-link-icon-twitter"></div></a>
        <a href="{{ site.instagram_path}}" target="_blank" class="external-link-wrapper"><h6>Instagram</h6><div class="external-link-icon external-link-icon-instagram"></div></a>
      </div>
    </div>
</nav>
<!-- End Navigation -->
