---
layout: default
---
<header class="blog-index-header-main" style="background-image:url('{{ site.url }}{{ site.pathToBlogImgBin }}{{ page.featImg }}">
  <div class="overlay-dark"></div>
  {% include nav.html %}
  <div class="blog-index-title">
    <h1 class="featured-blog-post-title">{{ page.title }}</h1>
  </div>
  <div class="authorCard">
    <img src="{{ site.url }}{{ site.data.authors[page.author].avatar }}" alt="{{ site.data.authors[page.author].name }} Avatar"/>
    <small><em>by <a href="">{{ site.data.authors[page.author].name }}</a><br>on {{ page.date | date: "%B %e, %Y" }}</em></small>
  </div>
</header>
<div class="blogPostContentWrapper">
{{ content }}
</div>
<hr>
<h5 class="readMoreCTA">You Might Want To Read...</h5>
<div class="blogReadMoreWrapper">
  {% for post in site.posts limit: 3%}
    <div class="blogPostContainer">
      <a href="{{ post.url }}" class="blogPostFeatImg" style="background-image: url('{{ site.url }}{{ site.pathToBlogImgBin }}lowRes/{{ post.featImg }}');"></a>
      <a href="" class="blogCategory">{{ post.categories }}</a>
      <a href="{{ post.url }}" class="blogTitle">{{ post.title }}</a>
      <p class="blogExcerpt">{{ post.excerpt }}</p>
    </div>
  {% endfor %}
</div>
<hr>
